
.container{
  display: flex;
  flex-direction: row;
  background-color: plum;
  flex-wrap: nowrap;
  margin: 3px;
  
}
.container div{
  border: solid .1em purple;
  font-size: 15px;
}
 #butt1{
   background-color: royalblue;
 }

 

 